

.gallery-section {
   padding-top: 20px;
}

//Each object loaded by AJAX requests
.gallery-object {
   max-width: 100%;
   min-height: 250px;
   display: flex;
   justify-content: space-around;
   margin: 40px;
   box-shadow : 1px 3px 5px grey;

   figure {
      width: 50%;
      text-align: center;
      max-height: 100%;
      padding: 0 10px;
      background: linear-gradient(rgba(128, 128, 128, 0.075), rgba(128, 128, 128, 0.185));
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 20px 30px;
      

      img {
         max-width: 100%;
         max-height: 400px;
         box-shadow : 1px 2px 2px grey;
      }
   }

   h2 {
      font-size: 14px;
      font-style: italic;
      color: $gallery-header-color;
   }

   h3 {
      font-size: 20px;
      padding: 0 0 15px;
   }

   a {
      font-size: 18px;
      display: block;
      text-decoration: none;
      font-weight: 700;
      color: $gallery-header-color;
      border: solid 2px $gallery-header-color;
      padding: 3px 0 4px 0;
      padding : 15px;
      transition: all 0.2s;
      border-radius: 50px;
      text-align: center;
      width: 225px;
      margin: 20px auto;

      &:hover {
         background: $gallery-header-color;
         color: white;
      }
   }
}

.gallery-object-text {
   width: 50%;
   padding: 20px 30px;
   background: linear-gradient(rgba(128, 128, 128, 0.075), rgba(128, 128, 128, 0.185));
}