.gallery-section {
   padding-top: 20px;
}

.gallery-object {
   max-width: 100%;
   height: 250px;
   display: flex;
   justify-content: space-around;
   padding: 30px;

   figure {
      width: 50%;
      text-align: center;
      max-height: 100%;
      padding: 0 10px;
      background: linear-gradient(to top, rgba(128, 128, 128, 0.164),transparent 30%, transparent);

      img {
         max-width: 100%;
         height: 100%;
      }
   }

   h2 {
      font-size: 14px;
      font-style: italic;
      color: $gallery-header-color;
   }

   h3 {
      font-size: 20px;
      padding: 0 0 15px;
   }

   a {
      font-size: 13px;
      display: block;
      text-decoration: none;
      font-weight: 700;
      color: $gallery-header-color;
      border: solid 2px $gallery-header-color;
      padding: 3px 0 4px 0;
      transition: all 0.2s;
      border-radius: 25px;
      text-align: center;
      width: 150px;
      margin: 20px auto;

      &:hover {
         background: $gallery-header-color;
         color: white;
      }
   }
}

.gallery-object-text {
   width: 50%;
   padding: 20px;
   background: linear-gradient(to bottom, rgba(128, 128, 128, 0.041),transparent 30%, transparent);
}