article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.gallery-wrapper {
   margin: 0 auto;
   max-width: 1000px;
}

*{
    margin : 0;
    padding : 0;
    // border-style : solid;
    // border-width : 1px;
}

.century-input{
    width : 80%;
    margin : auto;
    display : block;
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background: black; /* Otherwise white in Chrome */
    height : 4px;
}

.century-input:focus{
    outline : none;
}

.century-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 32px;
    width: 32px;
     border-radius: 16px;
    background: black;
    cursor: pointer;
  //  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
   // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  }
  
  /* All the same stuff for Firefox */
  .century-input::-moz-range-thumb {
   // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 32px;
    width: 32px;
   border-radius: 16px;
    background: black;
    cursor: pointer;
  }

.input{
    h2{
        text-align : center;
    }
    padding : 40px;
    padding-top : 20px;
    background-color : rgb(252, 252, 227)

}

.page-header{
    background-color : black;
    position : fixed;
    width : 100%;
    height : 10px;
}

.object-input{
    border-style : none none solid none;
    text-align : center;
    background :  none;
}

.object-input-container{
    text-align : center;
    margin-top : 40px;
    height : 60px;
}

.century-input-container{
    margin-top : 40px;
}

.sub-header{
    height : 50px;
    transition : background 0.5s;
}

.header-ancient{
    background-image : url("../assets/header-ancient2.jpg");
    background-size : 150px 100px;
   background-position : bottom;
   background-repeat : repeat;
}

.header-classical{
    background-image : url("../assets/header-ancient.jpg");
  //  background-size : contain;    
}

.header-medieval{
    background-image : url("../assets/header-medieval.jpg");
    background-size : 250px 250px;
}

.header-dark-ages{
    background-image : url("../assets/header-dark-ages.jpg");
    background-size : 400px 400px;
    background-position : middle;
}

.header-renaissance{
    background-image : url("../assets/header-renaissance.jpg");
   // background-size : 100px 250px;
}

.header-rococo{
    background-image : url("../assets/header-rococo.jpg");
}

.header-victorian{
    background-image : url("../assets/header-victorian.jpg");
}

.header-art-deco{
    background-image : url("../assets/header-art-deco.jpg");
    background-size : 200px 150px;
}

.header-modern{
    background-image : url("../assets/header-modern.jpg");
    background-size : 200px 150px;
}

.font-ancient{
   // color : blue;
    font-family: Papyrus, fantasy;
    font-size : 24px;
}

.font-classical{
    // color : blue;
     font-family: 'Times New Roman';
     font-size : 24px;
     text-transform : uppercase;
 }

.font-dark-ages{
    font-family: 'MedievalSharp', cursive;
    font-size : 24px;
}

.font-medieval{
    font-family: 'UnifrakturCook', cursive;
    font-size : 24px;
}

.font-renaissance{
    font-family: 'Agincourt', cursive;
    font-size : 24px;    
}

.font-20th-century{
    font-family : 'Courier', sans-serif;
    font-size : 24px;
}

