article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

body {
   background: linear-gradient(rgba(255, 255, 255, 0.788), rgba(255, 255, 255, 0.603)), url('../assets/backgroundTexture.jpg');
   background-attachment: fixed;
}

.wrapper {
   margin: 0 auto;
   max-width: 1000px;
}

*{
   box-sizing: border-box; 
   margin : 0;
   padding : 0;
}

.century-input{
    width : 90%;
    margin : auto;
    display : block;
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background: black; /* Otherwise white in Chrome */
    height : 4px;
}

.century-input:focus{
    outline : none;
}

.century-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 32px;
    width: 32px;
     border-radius: 16px;
    background: black;
    cursor: pointer;
  }
  
  .century-input::-moz-range-thumb {
    border: 1px solid #000000;
    height: 32px;
    width: 32px;
   border-radius: 16px;
    background: black;
    cursor: pointer;
  }

.input{
    h2{
        text-align : center;
        padding-top : 20px;
    }
    padding : 40px;
    padding-top : 20px;
    background-color : rgb(252, 252, 227)

}

.page-header{
    background-color : black;
    position : fixed;
    width : 100%;
    height : 10px;
}

.object-input{
    border-style : none none solid none;
    text-align : center;
    background :  none;
    padding: 5px;
    font-size: 25px;
    width : 280px;
}

.object-input-container{
    text-align : center;
    max-width: 600px;
    margin: 40px auto 0;
    height : 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    span:nth-of-type(1) {
       font-size: 25px;
    }
}

.in-century-wrapper {
   display: flex;
   align-items: center;
}

.century-to-search {
   display: inline-block;
   width: 220px;
   height: 50px;
   line-height: 5px;
   // font-size: 24px;
   position: relative;
   top: 25px;
}

.century-input-container{
    margin-top : 40px;
}

.sub-header{
    height : 50px;
    transition : background 0.5s;
}

.no-results-message{
    text-align : center;
    font-style : italic;
}

.in-the{
    margin : 10px;
}

@media (max-width : 620px){
   .object-input{
       margin-bottom : 20px;
   }

   .object-input-container{
       flex-wrap : wrap;
   }

   .century-input{
       margin-top : 70px;
   }
}

.arrow-up {
   display: block;
   bottom: 20px;
   position: fixed;
   left: 50%;
   transform: translateX(-50%);
   color: grey;
   &:hover,{
      color: #535252;
   }
}